<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="2.88.8" manuallyInstalled="true" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" />
  <package id="YoloDotNet" version="2.0.0" manuallyInstalled="true" />
</packages>